# Lists and Tuples
Lists are mutable (That means we can make changes into the Lists )

In [14]:
# Indexing
my_list = ['Apple','Orange',5,3.1417,False,'Hasnain','Salar']
my_list[0]

'Apple'

In [2]:
my_list[1] = 'Guave'
my_list[1]

'Guave'

In [3]:
# Slicing
my_list[0:3]

['Apple', 'Guave', 5]

# Most Common Methods

In [3]:
# l1.sort(): updates the list to [1,2,7,8,15,21] 
#• l1.reverse(): updates the list to [15,21,2,7,8,1] 
#• l1.append(8): adds 8 at the end of the list  
#• l1.insert(3,8): This will add 8 at 3 index 
#• l1.pop(2): Will delete element at index 2 and return its value. 
#• l1.remove(21): Will remove 21 from the list.

In [4]:
# Word append means Add at the end
my_list.append('Specter')
my_list

['Apple', 'Guave', 5, 3.1417, False, 'Hasnain', 'Salar', 'Specter']

In [5]:
my_list.reverse()
my_list

['Specter', 'Salar', 'Hasnain', False, 3.1417, 5, 'Guave', 'Apple']

In [6]:
print(my_list[::-1])

['Apple', 'Guave', 5, 3.1417, False, 'Hasnain', 'Salar', 'Specter']

In [7]:
num_list = [465,545,6457,787,989,344]
num_list.reverse()
num_list

[344, 989, 787, 6457, 545, 465]

In [8]:
num_list.sort()
num_list

[344, 465, 545, 787, 989, 6457]

In [15]:
my_list.insert(2, 'Almond')
my_list

['Apple', 'Orange', 'Almond', 5, 3.1417, False, 'Hasnain', 'Salar']

In [16]:
my_list.pop(2)
my_list

['Apple', 'Orange', 5, 3.1417, False, 'Hasnain', 'Salar']

In [17]:
my_list.remove('Salar')
my_list

['Apple', 'Orange', 5, 3.1417, False, 'Hasnain']

# Tuple
Tuples are Immutable (can't change the values, once these are created)

In [21]:
tup = (1,23,4,'string', 'Specter',32.2, False)
print(type(tup))

<class 'tuple'>

In [24]:
print(23 in tup)
print(45 in tup)

True
False

# Problems

In [4]:
# Write a program to store seven fruits in a list entered by the user.

Fruits = []
user1 = input('Ener your favourite Fruit name')
Fruits.append(user1)
user2 = input('Ener your favourite Fruit name')
Fruits.append(user2)
user3 = input('Ener your favourite Fruit name')
Fruits.append(user3)
user4 = input('Ener your favourite Fruit name')
Fruits.append(user4)
user5 = input('Ener your favourite Fruit name')
Fruits.append(user5)
user6 = input('Ener your favourite Fruit name')
Fruits.append(user6)
user7 = input('Ener your favourite Fruit name')
Fruits.append(user7)

print(Fruits)

Ener your favourite Fruit name Apple
Ener your favourite Fruit name Guave
Ener your favourite Fruit name Grapes
Ener your favourite Fruit name PineApple
Ener your favourite Fruit name Strawberry
Ener your favourite Fruit name Orange
Ener your favourite Fruit name Dates

['Apple', 'Guave', 'Grapes', 'PineApple', 'Strawberry', 'Orange', 'Dates']

In [12]:
# Write a program to accept marks of 6 students and display them in a sorted manner.

marks = []
Student1 = int(input('Ener your favourite Fruit name'))
marks.append(Student1)
Student2 = int(input('Ener your favourite Fruit name'))
marks.append(Student2)
Student3 = int(input('Ener your favourite Fruit name'))
marks.append(Student3)
Student4 = int(input('Ener your favourite Fruit name'))
marks.append(Student4)
Student5 = int(input('Ener your favourite Fruit name'))
marks.append(Student5)
Student6 = int(input('Ener your favourite Fruit name'))
marks.append(Student6)
marks.sort()
print(marks)

Ener your favourite Fruit name 34
Ener your favourite Fruit name 45
Ener your favourite Fruit name 56
Ener your favourite Fruit name 67
Ener your favourite Fruit name 100
Ener your favourite Fruit name 90

[34, 45, 56, 67, 90, 100]

In [13]:
# Check that a tuple type cannot be changed in python.

my_list = ('we','you','i','o','they')
my_list[0] = 'Specter'

TypeError: 'tuple' object does not support item assignment

In [14]:
# Write a program to sum a list with 4 numbers. 

add = [3,4,5,6]
print(sum(add))

18

In [15]:
# Write a program to count the number of zeros in the following tuple:

zero = [7,0,0,6,4,3,0,0]
zero.count(0)

4