# While Loop

In [13]:
i = 1

while (i<6):
    print(i)
    i += 1

1
2
3
4
5

In [2]:
# Quick Quiz: Write a program to print 1 to 20 using a while loop.

i = 1

while (i<=20):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
# Quick Quiz:  Write a program to print the content of a list using while loops.

l = [1,'Hasnain',2,'Yousaf','Naeem','Saleem','Afzal']

i = 0
while (i < len(l) ):
    print(l[i])
    i += 1

1
Hasnain
2
Yousaf
Naeem
Saleem
Afzal

In [16]:
st = 'Hasnain'

i = 0
while (i < len(st)):
    print(st[i])
    i += 1

H
a
s
n
a
i
n

# For Loop

In [17]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [18]:
 l = [1,2,3,4,5,6]

for i in l:
    print(i)

1
2
3
4
5
6

In [19]:
st = "Hasnain"

for i in st:
    print(i)

H
a
s
n
a
i
n

In [20]:
l = ['Hasnain']

for i in l:
    print(l*7)

['Hasnain', 'Hasnain', 'Hasnain', 'Hasnain', 'Hasnain', 'Hasnain', 'Hasnain']

In [21]:
# For loop with Else statement
my_list = ['Hasnain','Naeem','Saleem','Yousaf']

for i in my_list:
    print(i)
else:              #Else statement will execute only when the for loop will reach to it's end
    print()
    print('Job has been done')

Hasnain
Naeem
Saleem
Yousaf

Job has been done

# Break, Continue And Pass Statements

In [22]:
# Break statement will exit the loop on a given iteration

for i in range (20):
    if (i == 9):
        break
    print(i)

0
1
2
3
4
5
6
7
8

In [23]:
# Continue will skip that specific iteration and then continue

for i in range (1,20):
    if (i == 10):
        continue 
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

In [24]:
# Pass statement actually do nothing and pass the whole execution without doing anything

l = ['Harry','is','my','Friend']

for i in l:
    pass

i = 0
while (i < len(l)):
    print(l[i])
    i += 1

Harry
is
my
Friend

# Practice Problems

In [25]:
# 1. Write a program to print multiplication table of a given number using for loop. 

i = int(input('Enter your number'))
print(f'Your given Number is: {i}')

for j in range(1,11):
    print(f'{i} X {j} = {i * j}')

Enter your number 5

Your given Number is: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [26]:
# 2. Write a program to greet all the person names stored in a list ‘l’ and which starts with S. 

l = ['Hasnain', 'Harry', 'Nobel', 'Prime']

for i in l:
    if (i.startswith('H')):
        print('Congratulations! You get the job Successfully with starting Salary of $200k: ',i)

Congratulations! You get the job Successfully with starting Salary of $200k:  Hasnain
Congratulations! You get the job Successfully with starting Salary of $200k:  Harry

In [27]:
# 3. Attempt problem 1 using while loop. 

i = int(input('Enter your number'))

j = 1
while (j<11):
    print(f'{i} X {j} = {i * j}')
    j += 1

Enter your number 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [30]:
# 4. Write a program to find whether a given number is prime or not. 

num = int(input('Please Enter your Number'))

for i in range(2,num):
    if (num%i) == 0:
        print('Number is not a Prime')
        break
else:
    print('Number is prime')

Please Enter your Number 65

Number is not a Prime

In [1]:
# 5. Write a program to find the sum of first n natural numbers using while loop. 

n = int(input('Enter your Number: '))

i = 1
Sum = 0
while (i<=n):
    Sum = Sum + i
    i += 1
print(Sum)

Enter your Number:  10

55

In [9]:
# 6. Write a program to calculate the factorial of a given number using for loop. 

num1 = int(input('Enter your Number: '))

fact = 1
for i in range(1,num1+1):
    fact = fact * i
    
print('The factorial of Given number is: ',fact)

# Factorial of 5 means....... 1 x 2 x 3 x 4 x 5

Enter your Number:  5

The factorial of Given number is:  120

In [15]:
# 7. Write a program to print the following star pattern

n = int(input('Enter your Number: '))

for i in range(1 , n+1):
    print(' '*(n-i), end = '')
    print('*' * (2*i-1), end = '')
    print()

Enter your Number:  3

  *
 ***
*****

In [19]:
# 8. Write a program to print the following star pattern: 

n1 = int(input('Enter your Number: '))

for i in range(1 , n1+1):
    print('*' * i, end = '')
    print()

Enter your Number:  5

*
**
***
****
*****

In [20]:
# 9. Write a program to print the following star pattern. 

n = int(input('Enter your Number: '))

for i in range(1 , n+1):
    if (i==1 or i==n):
        print('*'*n, end = '')
    else:
        print('*', end = '')
        print(' '*(n-2), end = '')
        print('*', end = '')
    print('')

Enter your Number:  3

***
* *
***

In [5]:
# 10. Write a program to print multiplication table of n using for loops in reversed order.


j = 6
for i in range(1,11):
    print(f'{j} X {11-i} = {j*(11-i)}')

6 X 10 = 60
6 X 9 = 54
6 X 8 = 48
6 X 7 = 42
6 X 6 = 36
6 X 5 = 30
6 X 4 = 24
6 X 3 = 18
6 X 2 = 12
6 X 1 = 6

In [6]:
# Solving Problem 10 (Alternative Method)

j = 6
z = [10,9,8,7,6,5,4,3,2,1]
for i in z:
    print(f'{j} X {i} = {j*i}')

6 X 10 = 60
6 X 9 = 54
6 X 8 = 48
6 X 7 = 42
6 X 6 = 36
6 X 5 = 30
6 X 4 = 24
6 X 3 = 18
6 X 2 = 12
6 X 1 = 6